<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http:java.sum.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <servlet>
    <servlet-name>Ch3 Beer</servlet-name> <!-- DD에서만 사용할 made-up name -->
    <servlet-class>com.example.web.BeerSelect</servlet-class> <!-- servlet class file의 fully-qualified name -->
  </servlet>

  <servlet-mapping>
    <servlet-name>Ch3 Beer</servlet-name>
    <url-pattern>/SelectBeer.do</url-pattern> <!-- slash(/)로 시작해야 한다. 클라이언트가 서블릿을 참조하는 방식이다. -->
  </servlet-mapping>
</web-app>